.feynman {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-height: 890px;
  margin: 0;
  padding-top: 100px;
  background-color: #f2f2f2;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  text-align: center;
  margin: 0;
  z-index: 2;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  text-align: center;
  font-weight: normal;
  margin: 70px 0 0 0;
  z-index: 2;
}

.feynman__image {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal; 
  transition: ease 0.5s;
}

.feynman__link:hover {
  cursor: pointer;
  background-color: #f2f2f2;
  opacity: 0.5;
}