.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f2f2f2;
  overflow: hidden;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-weight: 600;
  font-size: 102px;
  margin: 0 0 0 64px;
  padding: 0;
} 

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  width: 338px;
  margin: 0;
  padding: 0;
}

.header__link {
  color: #2f80ed;
  transition: ease 0.5s;
}

.header__link:hover {
  cursor: pointer;
  background-color: #f2f2f2;
  opacity: 0.5;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.header__square-pic {
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;
}
