.techniques {
  width: 80%;
  padding: 100px 100px 0 100px;
  margin: 0 auto 0 auto;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}