.kaufman {
  padding-top: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1f1f1f;
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding-bottom: 90px;
}

.kaufman__image {
  background-image: url("../../images/triangle.svg");
  background-size: cover;
  width: 877px;
  height: 877px;
  z-index: -1;
  position: absolute;
  top: 0;
  right: -210px;
}

.section-title_theme_dark {
  color: white; 
  z-index: 2;
}

.section-subtitle_theme_dark {
  margin-top: 20px;
  color: white;
  z-index: 2;
}

.table_theme_dark {
  row-gap: 80px;
  margin-top: 80px;
  z-index: 2;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  z-index: 2;
}