.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding-bottom: 40px;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 60px 0 0 0;
}

.footer__column {
  color: white;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.logo_place_footer {
  transition: ease 0.5s;
}

.logo_place_footer:hover {
  cursor: pointer;
  background-color: #1f1f1f;
  opacity: 0.5;
}

.footer__author {
  margin: 18px 0 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.footer__column-link {
  margin: 0 0 10px 0;
  transition: ease 0.5s;
}

.footer__column-link:hover {
  cursor: pointer;
  background-color: #1f1f1f;
  opacity: 0.5;
}

.footer__column-link:last-child {
  margin: 0 0 16px 0;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
}

.footer__image-link:hover {
  cursor: pointer;
}